.badge{
  background-color: purple;
}

button#deleteAll{
  width: 150px;
}

button#deleteCompleted{
  width: 200px;
}

.btn.btn-success{
  background-color: #4AA53D;
  border-radius: 0;
}

#createBtn{
  border-radius: 0;
  background-color: #5866CF;
}